/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/*Variables & mixins*/
/*Dark and Light themmes*/
.night-mode {
  background: radial-gradient(#280000, #380000);
  color: #e30000;
  box-shadow: inset 0 0 5rem -1rem #e30000;
}
.night-mode a {
  color: #e30000;
}
.night-mode h1, .night-mode h2 {
  text-shadow: 6px 3px #7e0000;
}
.night-mode h2 {
  -webkit-text-stroke: 2px #620000;
}
.night-mode h1:after {
  border-bottom: 17px solid #e30000;
  box-shadow: 7px 6px #7e0000;
}
.night-mode header svg {
  fill: #e30000;
}
.night-mode input[type=checkbox] {
  background-color: transparent;
  color: #e30000;
  border: 0.15em solid #e30000;
}
.night-mode .generate-button button {
  color: #e30000;
  border: 4px solid #e30000;
  background-color: transparent;
}
.night-mode .generate-button button:hover {
  background: #e30000;
  color: #380000;
}
.night-mode .inputResult input {
  background: transparent;
  border-color: #e30000;
  color: #e30000;
}
.night-mode .inputResult button {
  background: transparent;
  border: 0.15em solid #e30000;
  color: #e30000;
}
.night-mode .inputResult button:hover {
  background: #e30000;
  color: #380000;
}

.day-mode {
  background: radial-gradient(#222600, #1c3020);
  color: #c6d92a;
  box-shadow: inset 0 0 5rem 0rem #c6d92a;
}
.day-mode a {
  color: #c6d92a;
}
.day-mode h1, .day-mode h2 {
  text-shadow: 6px 3px #616a14;
}
.day-mode h2 {
  -webkit-text-stroke: 2px #485416;
}
.day-mode h1:after {
  border-bottom: 17px solid #c6d92a;
  box-shadow: 7px 6px #616a14;
}
.day-mode header svg {
  fill: #c6d92a;
}
.day-mode input[type=checkbox] {
  background-color: transparent;
  color: #c6d92a;
  border: 0.15em solid #c6d92a;
}
.day-mode .generate-button button {
  color: #c6d92a;
  border: 4px solid #c6d92a;
  background-color: transparent;
}
.day-mode .generate-button button:hover {
  background: #c6d92a;
  color: #1c3020;
}
.day-mode .inputResult input {
  background: transparent;
  border-color: #c6d92a;
  color: #c6d92a;
}
.day-mode .inputResult button {
  background: transparent;
  border: 0.15em solid #c6d92a;
  color: #c6d92a;
}
.day-mode .inputResult button:hover {
  background: #c6d92a;
  color: #1c3020;
}

/*General styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 0px;
  background-color: rgb(15, 15, 15);
  border: 20px solid rgb(15, 15, 15);
  border-radius: 45px;
  overflow: hidden;
  pointer-events: none;
  font-family: "Press Start 2P", cursive;
  line-height: 25px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 25px;
  pointer-events: all;
  overflow-x: hidden;
  overflow-y: auto;
}

.crt-effect {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.6));
  background-size: 100% 0.3rem;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  border-radius: 25px;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

/*Header*/
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
header svg:hover {
  opacity: 0.7;
}

/*Main*/
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 65%;
}

.generator-main-title {
  position: relative;
  margin: 40px 0;
}
@-webkit-keyframes MainHeadingDisplay {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes MainHeadingDisplay {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.generator-main-title h1 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 100px;
  line-height: 100px;
  -webkit-animation: 1s MainHeadingDisplay ease-in forwards;
  animation: 1s MainHeadingDisplay ease-in forwards;
}
@-webkit-keyframes underlineDisplay {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@keyframes underlineDisplay {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
.generator-main-title h1:after {
  content: "";
  position: absolute;
  bottom: -17px;
  right: 0;
  height: 0;
  -webkit-animation: 1s underlineDisplay ease-in-out forwards 1s;
  animation: 1s underlineDisplay ease-in-out forwards 1s;
  transform: skewX(50deg);
}
@-webkit-keyframes SecondHeadingDisplay {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes SecondHeadingDisplay {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.generator-main-title h2 {
  position: absolute;
  right: 0;
  bottom: -50px;
  font-style: italic;
  font-size: 73px;
  line-height: 73px;
  letter-spacing: 10px;
  opacity: 0;
  -webkit-animation: 1s SecondHeadingDisplay ease-out forwards 2s;
  animation: 1s SecondHeadingDisplay ease-out forwards 2s;
}

/*Form*/
@-webkit-keyframes formResultDisplay {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}
@keyframes formResultDisplay {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}
#generator-form {
  width: inherit;
  opacity: 0;
  height: 0;
  margin: 40px 0;
  font-size: 22px;
  -webkit-animation: 1s formResultDisplay ease-in forwards 3s;
  animation: 1s formResultDisplay ease-in forwards 3s;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

#passwordLength {
  -webkit-appearance: none;
  /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  border: 0.15em solid red;
  background: transparent;
  outline: none;
  /* Remove outline */
}

#passwordLength::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 10px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: red;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

#passwordLength::-moz-range-thumb {
  width: 10px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: red;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

input[type=checkbox] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  min-width: 1.15em;
  min-height: 1.15em;
  max-width: 1.15em;
  max-height: 1.15em;
}

input[type=checkbox]::before {
  content: "";
}

input[type=checkbox]:checked::before {
  content: "X";
}

@-webkit-keyframes scaleTransform {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleTransform {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.generate-button button {
  width: 100%;
  padding: 20px;
  margin-top: 40px;
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  -webkit-animation: 1s scaleTransform infinite alternate;
  animation: 1s scaleTransform infinite alternate;
}

/*Result display*/
.result {
  display: none;
  width: 50%;
  margin: 20px 0 0 0;
}
.result .label {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.inputResult {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.inputResult input {
  width: 100%;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  text-overflow: ellipsis;
  border-width: 0 0 0.15em 0;
  cursor: text;
}
.inputResult button {
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
}

/*Footer*/
footer {
  width: 100%;
  margin-top: 10px;
  padding: 20px 0;
  text-align: center;
}

/*Media Queries*/
@media (max-width: 1440px) {
  main {
    width: 80%;
  }

  .result {
    width: 60%;
  }
}
@media (max-width: 1024px) {
  main {
    width: 90%;
  }

  .generator-main-title {
    transform: scale(0.8);
  }

  #generator-form {
    font-size: 20px;
  }

  .result {
    width: inherit;
  }
}
@media (max-width: 768px) {
  main {
    width: 100%;
  }

  .generator-main-title {
    transform: scale(0.6);
  }

  #generator-form {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  main {
    width: 100%;
  }

  .generator-main-title {
    transform: scale(0.3);
  }

  #generator-form {
    font-size: 16px;
  }

  .generate-button button {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */